<h2>Cadastrar-se</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <form>
    <div class="mb-3">
      <%= f.label "E-mail", class: "form-label" %>
      <%= f.email_field :email, class:"form-control form-control-sm w-50", autofocus: true, autocomplete: "email", placeholder: "Insira aqui o seu e-mail" %>
    </div>

    <div class="mb-3">
      <%= f.label "Senha", class: "form-label" %>
      <% if @minimum_password_length %>
      <em>(mínimo de <%= @minimum_password_length %> caracteres)</em>
      <% end %>
      <%= f.password_field :password, class:"form-control form-control-sm w-50", autocomplete: "new-password", placeholder: "Insira aqui sua senha" %>
    </div>

    <div class="mb-3">
      <%= f.label "Confirmar senha", class: "form-label" %>
      <%= f.password_field :password_confirmation, class:"form-control form-control-sm w-50", autocomplete: "new-password", placeholder: "Insira aqui a mesma senha inserida antes" %>
    </div>

    <div class="actions">
      <%= f.submit "Confirmar cadastro", class:"btn btn-primary" %>
    </div>
  </form>
<% end %>

<div class="mt-2">
  <%= render "devise/shared/links" %>
</div>
