<h2>Entrar</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form>
    <div class="mb-3">
      <%= f.label "E-mail", class: "form-label" %><br />
      <%= f.email_field :email, class:"form-control form-control-sm w-50", autofocus: true, autocomplete: "email", placeholder: "Insira aqui o seu e-mail" %>
    </div>

    <div class="mb-3">
      <%= f.label "Senha", class: "form-label" %><br />
      <%= f.password_field :password, class:"form-control form-control-sm w-50", autocomplete: "current-password", placeholder: "Insira aqui sua senha" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="mb-3 form-check">
        <%= f.check_box :remember_me, class:"form-check-input" %>
        <%= f.label "Manter conectado", class: "form-check-label" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Entrar", class:"btn btn-primary" %>
    </div>
  </form>
<% end %>

<div class="mt-2">
  <%= render "devise/shared/links"%>
</div>