<p style="color: green"><%= notice %></p>

<% content_for :title, "Tarefas" %>

<h1>Suas tarefas</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Título</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody> 
      <% @todos.each do |todo| %>
      <tr onclick="location.href='todos/<%= todo.id %>'" >
            <td ><%= todo.title %></td>
            <td><%= todo.status %></td>
          </tr>
       <% end %>
    </tbody>
 
</table>

<%= link_to "Nova Tarefa", new_todo_path, class:"btn btn-success" %>