<p style="color: green"><%= notice %></p>

<%= render @todo %>

<div>
  <%= link_to "Editar", edit_todo_path(@todo) %> |
  <%= link_to "Voltar para lista de tarefas", todos_path %>

  <%= button_to "Excluir tarefa", @todo, method: :delete %>
</div>
